.animalsCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 600px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 25px;
    background-color: #f2f2f2;
}

.animalsCards::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.animalsCards::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.animalsCards::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
}

.animalContainerLabel {
    font-family: "Berlin Sans FB", sans-serif;
    font-size: 2.5em;
    color: #8c886f;
    text-align: center;
}

